
.ctf-platform {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ctf-sidebar {
    color: white;
    background-color: #222222;
    width: 200px;
    padding: 10px;
}

.ctf-sidebar-username {
    text-align: center;
    margin: 15px;
}

.ctf-sidebar-delimiter {
    border-color: #444444;
}

.ctf-sidebar-list {
    list-style-type: none;
    padding: 0;
}

.ctf-sidebar-list-item {
    background-color: #333333;
    margin: 5px 0;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 0.9rem;
}

.ctf-screen {
    flex-grow: 1;
}

.ctf-contest-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
}

.ctf-contest-item-data {
    margin: 0px;
    padding: 10px 15px;
}

.ctf-contest-item-label {
    margin: 5px 0;
    /* font-weight: normal; */
}

.ctf-contest-item-time {
    margin: 0;
    font-size: 0.8rem;
}

.ctf-contest-item:before {
    content: "";
    width: 7px;
    border-radius: 5px 0px 0px 5px;
    background-color: lightgreen;
}

.ctf-contest-item:after {
    content: "\FF1E";
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-left: auto;
    background-color: #F6F6F6;
    font-size: 1rem;
    border-radius: 0 5px 5px 0;

}
