

.delete-wrapper {
    height: 100%;
    width: 100%;
    background-color: #222222;
    box-sizing: border-box;
    padding: 10px;

    h2 {
        margin-top: 0px;
        color: white;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .yes {
            border: none;
            outline: none;
            background-color: lightgreen;
            padding: 5px 20px;
        }

        .no {
            border: none;
            outline: none;
            background-color: #ee6600;
            padding: 5px 20px;
        }
    }
}